@tailwind base;
@tailwind components;
@tailwind utilities;

.messages{
    background: #777 url('https://i.pinimg.com/564x/85/6f/39/856f39871adb9b76cb4d61d203104b9f.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-size: 90% 90% ;
    
}

